<h1>Editing bookinfo</h1>

<%= error_messages_for :bookinfo %>

<% form_for(@bookinfo) do |f| %>
  <p>
    <b>Acct</b><br />
    <%= f.text_field :acct %>
  </p>

  <p>
    <b>Title</b><br />
    <%= f.text_field :title %>
  </p>

  <p>
    <b>Author</b><br />
    <%= f.text_field :author %>
  </p>

  <p>
    <b>Edition</b><br />
    <%= f.text_field :edition %>
  </p>

  <p>
    <b>Publication</b><br />
    <%= f.text_field :publication %>
  </p>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @bookinfo %> |
<%= link_to 'Back', bookinfos_path %>
